{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login page{% endblock%}

{% block content %}

    <h3>Login</h3>
    <div class="row mb-2">
        <div class="col-4">
            <form method="post" action="{% url 'auusers:login' %}">{% csrf_token %}
                {{ login_form|crispy }}
                <button type="submit" class="btn btn-primary" >Log in</button>
                <span class="ms-3">No account Then, <a href="{% url 'auusers:register' %}">get registered?</a></span>
            </form>
        </div>
    </div>

{% endblock %}