{% load static %}

<div class="container posts-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="media mb-3">
                        <img src="{{ review.user.profile_picture.url }}"
                             class="d-block ui-w-40 rounded-circle" alt="">
                        <div class="media-body ml-3">
                            <strong>{{ review.user.username }}</strong> rated it {{ review.stars_given }}
                            stars
                            <div class="text-muted small">{{ review.created_at|date:"M d, Y" }}</div>
                        </div>
                    </div>

                    <p>{{ review.comment | truncatechars:300 }}</p>
                    <div class="ui-bg">
                        <img src="{{ review.book.cover_picture.url }}" alt="{{ review.book.title }}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
