{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Book detail page{% endblock%}

{% block content %}

    <div class="row mb-4">
        <div class="col-2">
            <img src="{{ book.coover_picture.url }}" alt="book coover picture" class="cover-picture">
        </div>
        <div class="col-6 ms-4">
            <h2>{{ book.title }}</h2>
            <span class="fst-italic">
                <strong>Authored by</strong>
                {% for book_author in book.bookauthor_set.all %}
                    {% if forloop.last %}
                        {{ book_author.author.full_name }}
                    {% else %}
                        {{ book_author.author.full_name }},
                    {% endif %}
                {% endfor %}
            </span>
            <p>{{ book.description }}</p>
        </div>

    </div>

    <div class="row mb-4">
        <h4>Add Review</h4>
        <div class="col-6">
            <form method="post" action="{% url 'books:add_review' book.id %}">{% csrf_token %}
                {{ review_form|crispy }}
                <button type="submit" class="btn btn-success" >Add review</button>
            </form>
        </div>
    </div>

    {% if book.bookreview_set.exists %}
        <h4>Reviews</h4><hr>
        {% for reweiw in book.bookreview_set.all %}
            <div class="row mb-5">
                <div class="col-1 me-3">
                    <img src="{{ reweiw.user.profile_picture.url }}" alt="profile_picture" class="small-profile-pic">
                </div>
                <div class="col-8 col-xs-auto">
                    <strong>{{ reweiw.user.username }}</strong> rated it {{ reweiw.stars_given }} stars <span class="fw-lighter">{{ reweiw.created_at }}</span>
                    <p class="mt-2 font-monospace">{{ reweiw.comment }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
