{% extends "base.html" %}

{% block title %}Books list page{% endblock %}

{% block content %}

    <h1>Books list page</h1>

    {% if books %}
        {% for book in books %}
            <div class="row mb-2">
                <div class="col-2">
                    <img src="{{ book.coover_picture.url }}" alt="book coover picture" class="cover-picture">
                </div>
                <div class="col-6 ms-4">
                    <a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a>
                    <p>{{ book.description }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>Books not found.</h3>
    {% endif %}

{% endblock %}